/* ---------------------------------------------------------- */
/*                           RESET                            
/* ---------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------------- */
/*                           REGLAS COMPARTIDAS                           
/* ---------------------------------------------------------- */


/* ---------------------------------------------------------- */
/*                           HOME                           
/* ---------------------------------------------------------- */



/* ---------------------------------------------------------- */
/*                           CONTACTO                          
/* ---------------------------------------------------------- */




/* ---------------------------------------------------------- */
/*                           GALERIA                         
/* ---------------------------------------------------------- */
.userCard{
    border: 1px solid #ccc;
    border-radius: 5px;
}

.galeria-container{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px){

    .userCard{ width: 100%;

    }}

